In [3]:
from pathlib import Path
import pandas as pd
import numpy as np
from ms_pred.common.plot_utils import *
set_style()

In [20]:
dataset_name = "nist20"
dataset_name = "canopus_train_public"


data_folder = Path(f"../data/spec_datasets/{dataset_name}/")
labels = data_folder / "labels.tsv"

In [21]:
df = pd.read_csv(labels, sep="\t")

In [23]:
len(df)

10709

In [28]:
df.groupby("inchikey").count().shape

(8553, 6)

In [29]:
df.groupby("formula").count().shape

(5433, 6)

In [30]:
df.groupby("ionization").count()

             dataset  spec  name  formula  smiles  inchikey
ionization
[M+H3N+H]+       718   718     0      718     718       718
[M+H]+          8030  8030     0     8030    8030      8030
[M+K]+            20    20     0       20      20        20
[M+Na]+          998   998     0      998     998       998
[M-H2O+H]+       707   707     0      707     707       707
[M-H4O2+H]+      189   189     0      189     189       189
[M]+              47    47     0       47      47        47

In [27]:
split_1 = data_folder / "splits/split_1.tsv"
split_df = pd.read_csv(split_1, sep="\t")
split_df.groupby("Fold_0").count()

        spec
Fold_0
test    1082
train   8697
val      930